
.top-head{
    font-size: 1.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:#1A2560;
    color:rgb(255, 255, 255);
    border-bottom: 0px solid #999;
    text-align: center;
    text-transform: uppercase;
    height: 4rem;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}
h1{
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-section{
    width: 20%;
    height: 45rem;
    float: left;
    position: fixed;
    top:4rem;
    left:0;
    background-color: #303E8A;
    background-color: #b6b6b6;
    border: 0px solid red;
    background-color: #3D4EAF;
    background-color:#195177;

    border-right: 1px solid #999;

}

.whole{
    height: auto;
    text-align: center;
    padding: 0;
    padding-top: 2rem;
    float: right;
    width: 79%;
}
.clear{
    clear: both;
}
h2{
    color:#000000;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.table-div{
    width: 80%;
    border: 0px solid rgb(51, 51, 51);
    padding-top: 3rem;
    padding-bottom: 15rem;
}
.table-striped{
    border: 1px solid #666;
}
.data{
    text-align: left;
}
.my-groups{
    width:80%;
    margin-top: 2rem;
    height: auto;
    border-radius: 0rem;
    padding: 0;
    border: 0px solid #444;
}
.new-data-span{
    display: inline-block;
    /* padding-left: 1rem; */
    /* padding-bottom: 1rem; */
    line-height: 4rem;
    /* background-color: #0D6EFD; */
    font-size: 1.3rem;
    display: block;
    padding-bottom: 0rem;
    color:rgb(0, 0, 0);
    padding-left: 1rem;
    padding-right: 1rem;
    /* text-align: left; */
    border-radius: 2rem;
}
.input-text{
    border: 1px solid #444;
    padding-left: 1rem;
    width:100%;
    height: 5rem;
    font-size: 1.4rem;
}
.add{
    width: 12rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;   

}
.strip{
    background-color: #0D6EFD;
    background-color: #444;
    height: 4rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.opt{
    display: block;
    padding-left: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    line-height: 2rem;
    color:#fff;
    border-radius: 0px 20px 20px 0px;
    border-bottom: 1px solid #fff;
}
.opt1{
    margin-top: 1rem;
    border-top: 1px solid #fff;
}
.opt:hover{
    background-color: #fff;
    color:#000;
    border-bottom: 1px solid #999;
    font-weight: 500;
}

.active{
    background-color: white;
    color:#000;
    font-weight: 500;
    border-bottom: 1px solid #999;
}


#experience{
    display: block;
}
#course{
    display: none;
}
#project{
    display: none;
}
#award{
    display: none;
}
#collabration{
    display: none;
}
#conference{
    display: none;
}
#publication{
    display: none;
}
#other{
    display: none;
}

.background-division{
    border: 10px solid rgb(150, 150, 150);
    width: 100%;
    border-style: ridge;
    margin: 0 auto;
    margin-top: 3rem;
    height: auto;
    padding: 0.5rem;
    text-align: left;
    background-color: rgb(217, 223, 255);
}
.background-img{
    background-size: cover;
    width: 100%;
    height:13.5rem;
}
.edit-btn-background{
    margin-top: 0.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* .pencil-div{
    position:absolute;
    top:-1.5rem;
    right:-1.5rem;
    height: 3.1rem;
    color:#fff;
    padding-top:0.7rem;
    padding-left: 0.22rem;
    width: 3.1rem;
    cursor: pointer;
    background-color: #da2100;
    border-radius: 2rem;
    transition: 0.5s ease;
} */
/* .pencil-div:hover{
    background-color: #fff;
    color:#da2100;
    border:1px solid #555; 
} */
.other-table-div{
    margin-top: 3rem;
    border: 0px solid #000;
    padding-top: 0.5rem;
}

.fav-logo-img{
    max-width: 2rem;
    max-height:2rem;
    margin: 1rem;
}
.logo-img{
    max-width: 5rem;
    max-height:5rem;
    margin: 1rem;
}
.side-logo-img{
    max-width: 20rem;
    max-height:15rem;
    margin: 1rem;
}

.you-img{
    max-width: 10rem;
    max-height:10rem;
    margin: 1rem;
}



.black-fix{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7));
}
.upload-div{
    width: 50%;
    height:50%;
    position: fixed;
    left:25%;
    top:20%;
    background-color: #f1f1f1;
    /* background-color: #5256AD; */
    box-shadow:5px 5px 20px #333;
    border-radius: 5px;
}
.dotted-div{
    height: 70%;
    margin-top: 7%;
    border: 3px solid #555;
    width: 60%;
    margin-left: 20%;
    border-style: dotted;
}
.cloud-div{
    height: auto;
    width: 20%;
    margin: 0 auto;
    margin-top: 5%;
    border: 0px solid #0D6EFD;
}
.cloud-img{
    width:100%;
}
.input-file{
    display: block;
    margin: 0 auto;
    border: 1px solid #555;
    font-size:0.8rem;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1rem;
    width: 60%;
    margin-bottom: 2rem;

}
.btn-upload{
    color:#fff;
    background-color: #3D4EAF;
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    transition: 0.4s ease;
}
.btn-upload:hover{
    background-color: #596ddb;
    color: #fff;
}
.cut-sign{
    position: absolute;
    background-color: red;
    color:white;
    /* padding: 1rem; */
    display: block;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; */
    height: 2rem;
    text-align: center;
    padding-top: 1px;

    width: 2rem;
    top:-1rem;
    font-size: 1.2rem;
    right:-1rem;
    border-radius: 2rem;
    transition: 0.4s ease;
}
.cut-sign:hover{
    background-color: #fff;
    color:red;
    border: 1px solid #333;
    padding-top: 0;
    cursor: pointer;
}
.ps-div{
    height: auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
    top:10%;
}
.dotted-for-ps{
    height: auto;
    margin-top: 0;
    padding-bottom: 1rem;
}
.input-ps{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.input-1{
    margin-top: 2rem;
}
.btn-change{
    margin-top: 2rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}


#urlchange{
    display: none;
}
#password{
    display:none;
}
#upload{
    display: none;
}
@media screen and (max-width:450px) {
    body{
        padding-bottom: 10rem;
    }
    h1{
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
   
}